<div class="my-panel">
    <header class="my-panel-header">
        <h2 class="my-panel-title">Ng-Alpha</h2>
        <nav>
            <ul class="my-nav-body">
                <li class="my-nav-item">
                    <a routerLink="">Home</a>
                </li>
                <li class="my-nav-item">
                    <a routerLink="angular-flex-layout">Angular Flex-Layout</a>
                </li>
            <li>
                <a routerLink="angular-material">Angular Material</a>
            </li>
            </ul>
        </nav>
    </header>
    <main class="my-panel-body">
        <router-outlet></router-outlet>
    </main>
</div>