<div class="my-panel">
    <header class="my-panel-header">
        <h2 class="my-panel-title">Concepts</h2>
        <nav>
            <ul class="my-nav-body">
                <li class="my-nav-item">
                    <a routerLink=".">Home</a>
                </li>
                <li class="my-nav-item">
                    <a routerLink="events">Events</a>
                </li>
                <li class="my-nav-item">
                    <a routerLink="directives">Directives</a>
                </li>
                <li class="my-nav-item">
                    <a routerLink="pipes">Pipes</a>
                </li>
            </ul>
        </nav>
    </header>
    <section class="my-panel-body">
        <router-outlet></router-outlet>
    </section>
</div>