<div class="my-panel">
    <header class="my-panel-header">
        <h3 class="my-panel-title">Pipes</h3>
    </header>
    <section class="my-panel-body">
        <div class="my-panel">
            <header class="my-panel-header">
                <h4 class="my-panel-title">Custom : Square root</h4>
            </header>
            <section class="my-panel-body">
                <p>Using a custom pipe, square root of {{ val }} is : {{ val | sqrtPipe }}</p>
            </section>
        </div>
    </section>
</div>