<div class="my-panel">
    <header class="my-panel-header">
        <h2 class="my-panel-title">Angular Material</h2>
        <nav>
            <ul class="my-nav-body">
                <li class="my-nav-item">
                    <a routerLink="./">Home</a>
                </li>
                <li class="my-nav-item">
                    <a routerLink="navigation-bar">Navigation Bar</a>
                </li>
                <li class="my-nav-item">
                    <a routerLink="code-maze">Code Maze</a>
                </li>
            </ul>
        </nav>
    </header>
    <section class="my-panel-body">
        <router-outlet></router-outlet>
    </section>
</div>
