<section class="my-panel">
    <header class="my-panel-header">
        <h2 class="my-panel-title">Home</h2>
    </header>
    <div class="my-panel-body">
        <h3>Welcome at Angular Flex-Layout</h3>
        <section id="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start center" fxLayoutGap="20px">
            <div fxLayoutAlign="center center" class="item">Item 1</div>
            <div fxLayoutAlign="center center" class="item">Item 2</div>
            <div fxLayoutAlign="center center" class="item">Item 3</div>
        </section>
    </div>
</section>
